					/*********Styling links, buttons, inputs and headings********/
a{
	color: rgba(0,0,0,.5);
}

a:hover{
	color: rgba(0,0,0,.9);
	text-decoration: none;
}

button{
	color: rgba(0,0,0,.5);

}

button.btn, label.btn{
	border-radius: 0 !important;
}

button:hover{
	color: rgba(0,0,0,.9);
}

.btn-margin-15{
	margin: 15px;
}

input[type="file"] {
	display: none;
}

h4{
	margin-top: 20px;
}

.form-control:focus{
	border-color: green; 
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar .dropdown-item:active
{
	background-color: #f8f9fa;
	color: #212529;
}

/*.back-button{
	position:absolute;
	top: 25px;
	left:25px;
	height:30px;
	width:30px;
}*/

					/****Alert div styles***/

div.alert{
	padding: 10px;
}

div.alert ul{
	padding-left: 20px;
}

					/********* Main navbar from app layout view ***********/
.navbar{
	background-color: LimeGreen;
	height: 75px;
}

.nav-shadow{
	z-index: 1;
	-webkit-box-shadow: 0px 3px 9px 0px rgba(209,209,209,1);
	-moz-box-shadow: 0px 3px 9px 0px rgba(209,209,209,1);
	box-shadow: 0px 3px 9px 0px rgba(209,209,209,1);
}

.logout-form{
	display: none;
}

.login-container, .register-container{
	margin-top: 30px;
}

					/*****Welcome view******/
div.welcome{
	background: LimeGreen;
	
	/* horizontal length,vertical length, blur radius, spread radius*/
	box-shadow: inset 400px 0px 100px -50px #f5f8fa, 
              	inset -400px 0px 100px -50px #f5f8fa;
}
h1.welcome-heading{
	margin-top: 100px;
}

ul.welcome-nav{
	margin-top: 25px;
	padding: 15px;
	list-style-type: none;
	font-weight: bold;
	text-transform: uppercase;
}

ul.welcome-nav li{
	display: inline;
	padding: 0 20px;
}

					/*Changing bootstrap card class*/

div.card{
	border-radius: 0;
}
div.card-header{
	background-color: LimeGreen;
}

div.card-header:first-child{
	border-radius: 0;
}


					/******Left navigation bar******/
.nav-home{
	/*padding-right: 0px;
	padding-left: 0px;*/
	padding: 0;
	min-height: calc(100vh - 75px);
	background-color: white;
}
.nav-home ul{
	margin-bottom: 0;
	margin-right: 0;
	/*height: calc(100vh - 75px);*/
	height: auto;
	padding: 0;
	padding-top: 20px;
	list-style-type: none;
}

.nav-home ul li{
	padding: 10px 20px;
}

					/*******Upload view********/

div.upload-container{

	margin-top: 30px;
	margin-bottom: 0;
	padding: 0;
}

div.upload-container .card-body{
	padding-bottom: 0;
}

div.upload-container .form-button-wrapper{

	text-align: right;
	margin-top: 20px;
}

div.alert ul{
	margin-bottom: 0;
}

					/*****Main-content*****/
.main-container{
	padding: 20px;
}


.button-link-style{
	color: white;
}

.button-link-style:hover{
	color:white;
}

div.alert{
	margin: 5px;
}


					/***My Images container styles**/
.images-container{
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
}

.images-container-item{
	margin: 10px;
	padding: 5px;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 5px;
	min-height: 100px;
	width: 150px;
	position: relative;
}

.images-container-item img{
	max-width: 100%;
	max-height: 100%;
	border-radius: 2px;
}

.images-container-item > div{
	position: absolute;
	opacity: 0.5;
	background-color: black;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.8em;
	bottom: 0px;
	right: 0px;
	left: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}


					/*****Show image*****/
.image-download-container ul{
	list-style-type: none;
	margin-top: 30px;
}

.image-download-container ul:first-child li{
	margin-bottom: 10px;
}

.image-download-container li:hover{
	cursor: pointer;
	opacity: initial;
}

.details-table{
	display: table;
	table-layout: fixed;
	overflow: hidden;
	margin-top: 10px;
	background-color: white;
}


.details-table td:first-child{
	font-weight: bold;
	width: 35%;
}

.details-table td.break-word{
	word-wrap: break-word;
}
#send-image-container{
	padding-left: 15px;
	display: none;
}
#send-image-container input{
	border: 1px solid #dee2e6;
	height: 37px;
	width: 200px;
}

#send-image-container button{
	margin-top: -4px;
}


					/***Users table admin view ***/

.users-table, .image-detail-table{
	width: 100%;
	border-collapse: collapse;
	background-color: white;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

					/**** Hover image and users table row*****/
.users-table tr:not(:first-of-type):hover, .images-container-item.hoverable:hover{ /*za hover tablice, bez prvog retka */
	cursor: pointer;
	-moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}


 					/***** Styles for modal image******/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 70px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, 0.9); /* Fallback color */
}

.modal-content {
    margin: auto;
    display: block;
    width: 70%;
    height: 90%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 70%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 75px;
} 

.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}


.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}				

					/******** Media rules **********/

@media only screen and (max-width: 1050px){

	div.welcome{
	  /* horizontal length,vertical length, blur radius, spread radius*/
	  box-shadow: inset 250px 0px 100px -50px #f5f8fa, 
              	  inset -250px 0px 100px -50px #f5f8fa;
	}

}

/**Small devices**/
@media only screen and (max-width: 768px){

	div.welcome{
	  /* horizontal length,vertical length, blur radius, spread radius*/
	  box-shadow: inset 150px 0px 100px -50px #f5f8fa, 
              	  inset -150px 0px 100px -50px #f5f8fa;
	}

	.modal-content {
        width: 100%;
    }

    .mx-sm-auto{
    	margin: 0 auto;
    }

    .image-download-container ul{
    	text-align: center;
    	padding-left: 0;
    }

    .show-image-buttons{
    	text-align: left;
    }

}

/**Extra small devices**/
@media (max-width: 575.98px) {

	.nav-home ul{
		height: auto;
		text-align: center;
	}
	.nav-home li{
		padding: 10px;
	}

	.navbar{
		height: auto;
	}

	.nav-home{
		min-height: auto;
	}

}
